#input-black:checked{
  /* background-color: black;  */
  box-shadow: none;
}
#input-black{
  box-shadow: none;
}
i{
  cursor: pointer;
  color: rgb(0, 0, 0);
}
i:hover{
  color: #0dcaf0;
}
.active{
  color: #0dcaf0 !important;
}